* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
}
html {
  position: relative;
  min-height: 100%;
  overflow: auto;
}

body {
  height: fit-content;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #1b2330;
  color: #333;
  overflow: auto;
}

a {
  cursor: pointer;
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn {
  display: inline-block;
  border: none;
  cursor: pointer;
  outline: none;
}

img {
  width: 100%;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}
